<!DOCTYPE html>
<html>
<head>
	<title>Mail Costs</title>
</head>
<body>
	<h1>Cost to sent your <%= operation %> is found below</h1>
	<p>The cost to send your <%= operation %> of weight:  <%= weight %> will be $<%= cost %></p>
</body>
</html>